body {
	background: url("../images/background_register.jpg");
}

nav {
	top: 0;
	position: fixed;
}
.container_reg
{  	margin-top: 400px;
	margin-left: auto;
	width: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	padding: 45px;
	box-sizing: border-box;
	border :1px solid rgba(0,0,0,.1);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.container_reg h1
{
	text-align: center;
	margin: 0 0 40px;
	padding: 0;
	color: green;
	letter-spacing: 2px;
}
.container_reg input
{
	padding: 5px;
	margin-bottom: 30px;
	width: 55%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border:none;
	border-bottom: 2px solid #999;
}
.container_reg input[type="submit"]
{
	border-radius: 15px;
	font-size: 20px;
	height: 40px;
	cursor : pointer;
	background: green;
	color: #fff;
	margin-bottom: 0;
}
.container_reg input[type="submit"]:hover
{
	background: green;
	color: #fff;
}
.container_reg form div
{
	position: relative;
}
.container_reg form div label
{
	position: absolute;
	top: 3px;
	pointer-events: none;
	left: 0;
	transition: .5s;
}
.container_reg input:focus ~label,
.container_reg input:valid ~label
{
	left: 0;
	top: -20px;
	color: rgb(66,133,244);
	font-size: 12px;
	font-weight: bold;
}
.container_reg input:focus,
.container_reg input:valid
{
	border-bottom: 2px solid rgb(66,133,244);
}
.error_form
{
	color: rgb(216, 15, 15);
    font-size: 15px;
    font-family: Helvetica;
}