@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: whitesmoke;
    color: black;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

nav {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul a{
    text-decoration: none;
}

nav img {
    display: inline-block;
    width: 100px;
    height: auto;
    margin: auto 0 auto 5%;
}

nav ul {
    position: absolute;
    top: 20px;
    left: 60%;
    display: flex;
    width: auto;
    height: auto;
}

nav p {
    position: absolute;
    top: 20px;
    left: 40%;
    display: flex;
    width: auto;
    height: auto;
}

.clickHide {
    position: absolute;
    top: 20px;
    left: 50%;
    display: flex;
    width: auto;
    height: auto;
}


nav ul li {
    list-style: none;
    padding: 10px;
    margin-left: 20px;
    border-bottom: 5px;
    color: white;
    font-weight: 400;
}

.page:hover{
    transition-duration: 0.2s;
    border-bottom: 2px solid #a65110;
}

.slideshow {
    height: auto;
    margin: auto;
    width: 100%;
    height: 420;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow img {
    padding: 15px; 
    width: 600px;
    height: 400px;
}



aside {
    margin-top: auto;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

main aside img {
    border-radius: 10%;
    box-shadow: 3px 3px 10px #303030;
    width: 300px;
    height: 200px;
    justify-self: center;
    margin-right: 5%;
    margin-top: 5%;
}

main aside img:hover {
    box-shadow: 5px 5px 15px #1034a6;
    transition-duration: 0.5s;
}

.footer tr td {
    max-width: 250px;
}

.footer tr td img {
    height: 30px;
}

.footer { 
    margin-top: 50px;
    background: white;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

